@import "~bootstrap/scss/bootstrap";

// Variables
@import "__variables";
@import "login";
@import "body";

#app{
    background-color: azure;
    margin: 5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 80vh;

}
