@import "__variables";

html, body {
    // background: rgb(46, 46, 235);
    // width: 100%;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
}

html{
    background: linear-gradient(
        0deg,
        rgba(46, 110, 235, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
}

body{
    background-color: transparent;
    padding: 5vh 0;
}