@import "__variables";

.notification {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation-duration: 0.3s;
    animation-name: notificationHeight;
    transition: height 0.3s;
    background-color: #807e7e;
    z-index: 500;
    p {
        margin: 0;
    }

    .error {
        background-color: red;
    }
}

.notification.error {
    background-color: #b71e1e;
    color: $white-font;
}

.notification.success {
    background-color: #45aa45;
    color: $white-font;
}

@keyframes notificationHeight {
    0% {
        height: 0;
    }
    100% {
        height: 50px;
    }
}

.my-modal {
    .modal-notification {
        width: 85vw;
        ul {
            max-height: 70vh;
            overflow: auto;
            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: $black-font;
                    padding: 10px;
                    .icon {
                        background-color: $background-white;
                        border-radius: 50%;
                        padding: 10px;
                        svg {
                            position: relative;
                            bottom: 2px;
                        }
                    }
                }
            }
        }
    }
}

.all-notification {
    padding-top: 10px;
    ul {
        overflow-y: scroll;
        height: 75vh;
        margin-top: 40px;

        li {
            list-style: none;
            a {
                color: $black-font;
                text-decoration: none;
            }
        }
    }
    ul::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }
}
