@import "__variables.scss";

#user-interface{
    height: 100%;
    overflow: hidden;

    #nav-icon{
        @media (min-width: 768px) { display: none; }
        height: 30px;
    }
    
    .logged{
        height: 100%;
        @media (max-width: 768px) { height: auto; }
    }
    .not-logged{
        text-align: center;
        padding: 5rem 3rem;
        font-size: 2.5rem;
        a{
            text-decoration: none;
            color: $blue-color;
        }
    }

    #user-outlet{
        // width: 100%;
        // padding: 0 5px;
    }
}